<!doctype html>
<html>

<head>
	<title>BTC to USD Chart</title>
	<script src="Chart.min.js"></script>
	<script src="utils.js"></script>
	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>
	<div style="width:75%;">
		<canvas id="canvas"></canvas>
	</div>
	<br>
	<br>
	<button id="randomizeData">Randomize Data</button>
	<button id="addDataset">Add Dataset</button>
	<button id="removeDataset">Remove Dataset</button>
	<button id="addData">Add Data</button>
	<button id="removeData">Remove Data</button>
	<script>


	var finalDatas = GetData();

		 var config = {
			type: 'line',
			data: {
				labels: finalDatas[1],
			 	datasets: [{
					label: 'USD',
					backgroundColor: window.chartColors.red,
					borderColor: window.chartColors.red,
					data: finalDatas[0],
					fill: false,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Chart.js Line Chart'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Time'
						}
					}],
					yAxes: [{
						display: false,
						scaleLabel: {
							display: true,
							labelString: 'USD'
						}
					}]
				}
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};
	function GetData()
{
    var arrData = []
    var labelData = []
	var request = new XMLHttpRequest()
    request.open('GET', 'http://18.221.193.189:5000/fetch', true)
    request.onload = function ()
     {

	var data = JSON.parse(this.response)

	var i=0
    data.forEach(entry => {
 		arrData.push(entry.dollaramount)
 		labelData.push(entry.datetimeval)
      });
    }

   var finalData = []
   finalData.push(arrData);
   finalData.push(labelData);

request.send()
console.log(finalData)
return finalData;
}
	</script>
</body>

</html>
